<!--<h1>Welcome to master home page</h1>-->

<!--<form action="{% url 'master_home' %}" method="post">-->
<!--    {% csrf_token %}-->
<!--    <h2>    {{ form.as_p }} </h2>-->
<!--    <input type="submit" value="Submit">-->
<!--</form>-->


<!--<p><a href="/">Logout</a></p>-->
<!DOCTYPE html>
<html>
<head>
    <title>Calculator</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <label for="expression">Enter Expression:</label>
        <input type="text" name="expression" id="expression" required><br><br>
        <input type="submit" value="Calculate"><br><br>

        {% if result %}
        <label for="result">Result:</label>
        <input type="text" name="result" id="result" value="{{ result }}" readonly><br><br>
        {% elif error %}
        <p>{{ error }}</p>
        {% endif %}
    </form>

<!--    <script>-->
<!--        function updateInput(value) {-->
<!--            var input = document.getElementById('expression');-->
<!--            if (input) {-->
<!--                input.value = value;-->
<!--            }-->
<!--        }-->
<!--        updateInput('seven(times(five()))');-->
<!--    </script>-->
</body>
</html>